div {
  display: inline-block;
  width: 100px;
  border: 2px;
  background-color: silver;
  text-align: center;
  height: 40px;
  position: sticky;
  top: 10px;
  font-size: 2.5em;
}

ul :hover {
  border: 2px solid black;
  background-color: #e4e9d5;
  text-transform: uppercase;
  font-size: 1.3em;
}

ul {
  border: 2px solid black;
  background-color: #c2c1a5;
  height: 120px;
  list-style: none;
}

li::before {
  content: "\2706";
  margin: 1em;
}
section {
  background-color: #33a1fd;
}

h1 {
  font-size: 3em;
  text-align: center;
}
h1::before {
  content: "\1F4DE";
}
